CREATE TABLE IF NOT EXISTS {{.R.SnakePlural}} (
    id UUID PRIMARY KEY,
    created_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMPTZ NOT NULL DEFAULT CURRENT_TIMESTAMP{{range .Fields}},
    {{.Name}} {{.SQLType}} NOT NULL{{end}}
);
