module {{.ModulePath}}

go 1.21

require (
	github.com/go-playground/validator/v10 v10.22.0
	github.com/labstack/echo/v4 v4.12.0
	github.com/spf13/viper v1.18.2
	github.com/stretchr/testify v1.9.0
	github.com/swaggo/echo-swagger v1.5.2
	github.com/swaggo/files v1.0.1
	github.com/swaggo/swag v1.16.6
{{- if .Has "auth"}}
	github.com/golang-jwt/jwt/v5 v5.2.1
	github.com/google/uuid v1.6.0
	golang.org/x/crypto v0.21.0
{{- end}}
{{- if .Has "postgres"}}
	github.com/uptrace/bun v1.2.1
	github.com/uptrace/bun/dialect/pgdialect v1.2.1
	github.com/uptrace/bun/driver/pgdriver v1.2.1
	github.com/golang-migrate/migrate/v4 v4.17.0
{{- end}}
{{- if .Has "redis"}}
	github.com/redis/go-redis/v9 v9.5.1
{{- end}}
{{- if .Has "mongodb"}}
	go.mongodb.org/mongo-driver v1.15.0
{{- end}}
)
